<table class="table">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Unit in Stock</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let temProduct of products">
            <td class="align-middle">
                <img src="{{temProduct.imageUrl}}" height="50" alt="" />
            </td>
            <td class="align-middle"> {{ temProduct.name }}</td>
            <td class="align-middle"> {{ temProduct.unitPrice | currency: 'USD'}}</td>
            <td class="align-middle"> {{ temProduct.unitsInStock }} </td>
        </tr>
    </tbody>
</table>